
/* CSS Reset */
body, h2, h3 {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* Small screen --- Mobile First */
/* setup header layout + color */

header {
    background-color: #F6f6f6;
    
}
/* creating a safe zone for iphonx X header */
.safezone {
    height: 44px;
    /* background-color: rgba(2, 50, 70, 0.8); */
    background-color: rgb(250, 165, 165);
}

nav {
    height: 89px;
    background-color: #FFFFFF;
    display: flex;
}



.navlinks {
    display: flex;
    width: 100%;
    /* push blocks inside navlinks block to left & right edges */
    justify-content: space-between;
    /* vertically center elements in nav block */
    align-items: center;
    /* breathing room for logo and hamburger menu (16px standardmargin) */
    padding-left: 12px;
    padding-right: 16px;
}
/* make logo and hamburger images into movable blocks inside flex container */
nav img {
    display: inline-block; 
}
 /* make nav anchor tags inline block (bricks) */
 .navlinks a {
     display: inline-block;
 }
 /* size logo */
 #logo {
     width: 50%;
}

/* hidding navlinks ul for landscape mode */
 .navlinks ul {
    display: none;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/******************* Responsive *******************/

@media screen and  (min-width: 797px) {
 
    /* Hide safezone */
    .safezone {
        display: none;
    }
    /* breathing room for logo and hamburger (20px) landscape */
    .navlinks {
        padding-left: 20px;
        padding-right: 24px;
    }
    /* hide hamburger menu in landscape */
    #hamburger {
        display: none;
    }
    /* Show expanded navlinks in landscape */
    .navlinks ul {
        display: flex;
    }
    /* sizing and positioning for tablet links */
    nav li {
        display: inline-block;
        padding: 8px;
        border: none;
        margin-left: 16px;
        border-radius: none;
    } 
    /* removing default underline from anchor tags + styling */
    nav li a {
    text-decoration: none;
    color: #023246;
    font-weight: 300;
    font-size: 16px;
    }

        /* stroke effect setup*/
        nav ul li a,
        nav ul li a:after,
        nav ul li a:before {
        transition: all .5s;
        }
        nav ul li a:hover {
        color: #023246;
        font-weight: 400;

        }
        /* stroke effect */
        .stroke li a{
        position: relative;
        }
        .stroke li a:after{
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #38C1F9;
        height: 2px;
        }
        .stroke li a:hover:after {
        width: 100%;
        }


/* Style the navbar */
nav {
    overflow: hidden;
  }

  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

}
        





