/*  */
/******************* Hero *******************/

.hero {
    background-color: #FFF;
    /* fixing random thin line between blocks */
    margin-top: -1px;
    padding-bottom: 80px;
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr .05fr;
    grid-template-areas: 
    "heroIllustration heroIllustration heroIllustration heroIllustration"
    "heroText heroText heroText heroText"
    "animatelogo animatelogo animatelogo animatelogo";

}

.heroIllustration img {
    /* set illustration width to 100% of the container size */
    max-width: 90%;
}
.heroText {
    /* use margin to align text with image */
    margin-right: 16px; 
    margin-top: 10px;
    grid-area: heroText;

}
.heroIllustration {
    grid-area: heroIllustration;
    /* checking to see if I can use a flexbox to scale pic */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.heroText h1 {
    font-size: 34px;
    font-weight: bold;
    color: #023246;
    letter-spacing: 0.08em;
}
.heroText h2 {
    font-size: 20px;
    font-weight: 300;
    color: #023246;
}
.heroText p {
    font-size: 16px;
    font-weight: 300;
    color: #023246;
    width: 100%;
}

.buttonCTA {
    border: none;
    background-color: #38C1F9;
    color: #000000;
    border-radius: 2px;
    font-size: 14px;
    padding: 10px;
}

.buttonCTA:hover  {
    background-color: #023246;
    color: #F6F6F6;
    transition: background-color color .3s;
    transition: color .3s;
}



/* hiding CTA under illustration for mobile */
.heroIllustration .buttonCTA { visibility: hidden;}

/* TEST ---- display: none replaced display: flex */
.animatelogo {
    display: none;
    justify-content: center;
    align-items: flex-end;
    grid-area: animatelogo;
}


/******************* My Process *******************/


.myProcess {
    padding: 40px 16px;
    background-color: #FFF;
    box-sizing: border-box;
    color: #023246;
}

.blockTitle{
    background-color: #023246;
    color: #F6F6F6;
    max-width: 98%;
    margin-left: -16px;
}
.blockTitle h2 {
    padding-top: 20px ;
    padding-bottom: 20px;
    padding-left: 16px;
}

.processGrid {
    text-align: center;
    display: grid;
    /* 1x14 Grid */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-areas: 
    "discover"
    "line1"
    "explainAB"
    "line2"
    "define"
    "line3"
    "explainBC"
    "line4"
    "develop"
    "line5"
    "explainCD"
    "line6"
    "deliver";
}

/* alias grid items to apply to grid-template-areas */
#discover {grid-area: discover;}
#explainAB {grid-area: explainAB;}
#define {grid-area: define;}
#explainBC {grid-area: explainBC;}
#develop {grid-area: develop;}
#explainCD {grid-area: explainCD;}
#deliver {grid-area: deliver;}

/* alias connecting lines to place in grid*/
#line1 {grid-area: line1;}
#line2 {grid-area: line2;}
#line3 {grid-area: line3;}
#line4 {grid-area: line4;}
#line5 {grid-area: line5;}
#line6 {grid-area: line6;}

/* bolder text for each phase */
.phase {font-weight: 700;}
.explain {margin: auto auto; color: #023246;}

/* set explanation text lighter weight for hierarchy */
.explain p { 
    font-weight: 300; 
    font-size: 14px; 
    display: inline-block; 
    margin: 0 0;
    width: 55%;
    margin: auto auto;
}

/* setup connecting lines */
.line {
    width: 2px;
    height: 60px;
    background-color: #023246;
    display: inline-block;
    margin: auto auto;
    padding: 0;
}



.myProcess h2{margin-bottom: 24px;}

/* scale all illustrations in grid to 50% */
.myProcess img {width: 50%;}

/******************* Portfolio *******************/
/* setup frame */
.portfolio { 
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    background-color: #F6f6f6;
}
/* setup title and subtitle */
.portfolio h2 { margin: 48px 0 24px 0; }
.portfolioSub {display: flex;}
#bar {
    display: inline-block;
    background-color: #023246;
    width: 16px;
    height: 4rem;
    margin-right: 8px;
}
.portfolio h3 { 
    font-weight: 300; 
    display: inline;
}

/* Portfolio grid for entries */
.portfolioGrid {
    display: grid;
    /*  Grid */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
    grid-template-areas: 
    "wrcdvCover "
    "wrcdvChoice"
    "travelCover"
    "travelChoice"
    "goodEatsCover"
    "goodEatsChoice";
    margin-top: 64px;
}
/* covers */
.cover img {
    display: inline-block;
    width: 100%;
}

/* layout the entry section, image on left, text/button on right */
.cover {
    display: flex;
    justify-content: space-between;
}

#wrcdvCover {
    grid-area: wrcdvCover;
}
#travelCover {
    grid-area: travelCover;
}
#goodEatsCover {
    grid-area: goodEatsCover;
}
/* Titles + see more buttons */
#wrcdvChoice {
    grid-area: wrcdvChoice;
}
#travelChoice {
    grid-area: travelChoice;
}
#goodEatsChoice {
    grid-area: goodEatsChoice;
}

/* style text & buttons for portfolio entries */
.projectChoice {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.projectChoice button {
    background-color: #38C1F9;
    border-radius: 2px;
    padding: 12px 32px;
    color: #023246;
    font-weight: 500;
    font-size: 14px;
}
.projectChoiceTitle { 
    /* make text block moveable */
    display: inline-block;
}
.projectChoiceTitle h4 { 
    font-weight: 500;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 4px;
 }
.projectChoiceTitle h5 { 
    font-weight: 300;
    font-size: 12px;
    margin-top: 0px;
 }

 /******************* About Section *******************/
.about {
    padding: 16px;
}
.about img {
    width: 100%;
}

#aboutMeTitle {
    display: block;
    color: #023246;
    grid-area: aboutMeTitle;

}
.about h2 {
    font-size: 18px;
    font-weight: 400;
}
.about p {
    font-size: 14px;
    font-weight: 300;
}
/* .about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
} */

.aboutGrid {
    display: grid;
    /*  Grid */
    grid-template-columns: 1fr;
    grid-template-rows: .05fr .05fr .05fr .05fr .05fr .05fr .05fr .05fr;
    grid-template-areas: 
    "aboutMeTitle"
    "myPic"
    "mantra"
    "."
    "whyUX"
    "."
    "influence"
    "drawing"
    "social";
    margin-top: 64px;
    margin-bottom: 64px;
    }
    /* setting up grid area */
    #myPic {grid-area: myPic;}
    #mantra {grid-area: mantra;}
    #whyUX {grid-area: whyUX;}
    #influence {grid-area: influence;}
    .social {grid-area: social;}



/* sizing the illustration pics */
.illustration {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-bottom: 8px;
}
    /* breathing room after text blocks */
    .abBlocks { 
        margin-top: 0px;   
        margin-bottom: 32px; 
        display: inline-block;
    }

    /* include padding in max-width */
    /* .whyux {
        max-width: 33.333%;
        min-width: 300px;
        box-sizing: border-box; 
    }
      
    .influence {
        max-width: 33.333%;
        min-width: 300px;
        box-sizing: border-box; 
    }
      
    .mantra {
        max-width: 33.333%;
        min-width: 300px;
        box-sizing: border-box; 
    } */
/* Connect with me on Social network */

.social img {
    display: inline-block;
    width: 44px;
    margin: 0 8px 0 0;
}

/************ Footer Styles ************/
/* Setup footer box  */
footer {
    background-color: #023246;
    max-width: 100%;
    color: #F6F6F6;
    padding: 36px 8px;
}
.footText { font-size: 12px; font-weight: 300;}


/* ////////////////////////////////////////////////////////////////////////////////////////////// */


/******************* Responsive *******************/

/* setup for landscape mode and larger screen sizes */
@media screen and (min-width: 650px) {
    .heroText p {
        font-size: 16px;
        font-weight: 300;
        color: #023246;
        width: 90%;
    }
    /* HERO - Responsive *********************************************/
    .hero {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr .05fr;
        grid-template-areas: 
        "heroText heroText heroIllustration heroIllustration"
        ". animatelogo animatelogo ."
       ;
       padding-top: 40px;
    }
    /* push hero image to the right */
    .heroIllustration {display: flex; justify-content: center}
    .heroIllustration img { margin-right: auto;}
    /* hide CTA under text block and show CTA under illustration */
    .heroText .buttonCTA { visibility: hidden;}
    .heroIllustration .buttonCTA { visibility: visible;}
    

    /* MY PROCESS - Responsive ***************************************/
    /* scale all illustrations */
    .myProcess img {
        width: 100%;
    }

    /* Readjusting grid for My Process Section */
    .processGrid {
        grid-template-columns: 0.5fr 0.75fr 1fr 0.75fr 0.5fr;
        grid-template-rows: 0.5fr 0.75fr 1fr 0.75fr 0.5fr;
        grid-template-areas: 
        "discover   line1   explainAB      line2       define"
        ".          .       .              line3       ."
        ".          .       explainBC      .           ."
        ".          line4      .             .       ."
        "develop    line5   explainCD      line6       deliver";
        width: 80%;
        margin: auto;
    }

    /* making adjustments for rectangular layout to show process diagnol lines correctly */
    .medScreenAdjust {
        grid-area: medScreenAdjust;}

    /* setup connecting lines */
    .line {
    width: 100%;
    height: 2px;
    background-color: #023246;
    display: inline-block;
    margin: auto auto;
    }

    #line3 {transform: rotate(-40deg); margin: auto auto;}
    #line4 {transform: rotate(-40deg); margin: auto auto;}
    

    /* Adjust portfolio section for landscape */
    /* Portfolio grid for entries */
    .portfolioGrid {
    display: grid;
    /*  Grid */
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "wrcdvCover wrcdvChoice"
    "travelCover travelChoice"
    "goodEatsCover goodEatsChoice";
    margin-top: 64px;
    }
    /* make this text block stackable */
    .projectChoice {
    display: block;
    margin-left: 40px;
    padding-top: 4rem;
    }
    .projectChoiceTitle { 
        /* make text block moveable */
        display: block;
    }
    .projectChoice button {
        background-color: #38C1F9;
        border-radius: 2px;
        padding: 12px 32px;
        color: #023246;
        font-weight: 500;
        font-size: 14px;
    }
}
@media screen and (min-width: 768px){
    #bar {
        height: 2.75rem;
    }
    .portfolio h3 { 
        display: inline;
        /* width: 75%; */
        padding-right: 28%;
    }

    /* about grid for entries */
    .aboutGrid {
    display: grid;
    /*  Grid 3x4*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .25fr 1fr .25fr .5fr;
    grid-template-areas: 
    "aboutMeTitle   aboutMeTitle    aboutMeTitle"
    "myPic  whyUX   influence"
    "myPic  whyUX   influence"
    "social drawing drawing";
    margin-top: 64px;
    }
    /* setting up grid area */
    #myPic {grid-area: myPic;}
    #mantra {grid-area: mantra;}
    #whyUX {grid-area: whyUX; margin-left: 16px;}
    #influence {grid-area: influence; margin-left: 16px;}


}



/* setup for 1024 Desktop */
@media screen and (min-width: 1024px) {

    .heroText {
        /* use margin to kinda center text area */
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 16px; 
        width: 80%;
    }
    .portfolio h3 { 
        display: inline;
        /* width: 75%; */
        padding-right: 47%;
    }

    #line3 {transform: rotate(-37deg); margin: auto auto;}
    #line4 {transform: rotate(-38deg); margin: auto auto;}
}

    /* setup for 1280 Desktop */
@media screen and (min-width: 1200px) {
    
    .heroText {
        /* use margin to kinda center text area */
        margin-top: 80px;
        margin-left: 80px;
        width: 65%;
    }

    .hero {padding-top: 40px;}

    #line3 {transform: rotate(-34deg); margin: auto auto;}
    #line4 {transform: rotate(-34deg); margin: auto auto;}


}